.img-container{
    width: 80vw;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.car-container{
    width: 300px;
    height: 250px;
    border: 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 80%;
    height: 70%;
}

#container1 img{
    transform: rotateX(10deg);
    /* transition: 2s all; */
}

#container1 img:hover{
    transform: rotatex(70deg);
    transition: 2s all;
}

#container5 img{
    transition: 2s all;
}

#container5 img:hover{
    transform: rotate(180deg) translateY(100px);
    transition: 2s all;
}

#container10{
    background: url(../images/subaru.jpeg);
    -webkit-transition: 2s all;
    background-size: cover;
}

#container10:hover{
    background: url(../images/ferrari.jpeg);
    -webkit-transition: 2s all;
    background-size: cover;
}

#box{
    width: 600px;
    height: 500px;
    border: 10px solid;
    background-image: url(../images/ferrari.jpeg);
    background-size: cover;
    padding: 20px;
}

#transparente{
    width: 400px;
    height: 300px;
    margin: auto;
    margin-top: 80px;
    background-color: rgba(0, 155, 0, 0.3);
}