*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: #ccc;
    max-width: 100%;
}

#fundo {
    margin: 0 auto;
    max-width: 90%;
    background-color: rgba(255, 0, 0,.3);
    height: 100%;
}

header {
    position: relative;
    width: 100%;
    height: 35vh;
    background: url(images/guitarras_header.jpg) center center no-repeat;
    background-size: cover;
}

.about-container,
.location-container {
    position: relative;
    width: 100%;
    height: 50vh;
    background-color: #ba1211;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem;
    color: white;
}

.history-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 2rem;
    font-size: 1.3rem;
}

.history-container,
.img-container,
.form-container,
.social-container {
    position: relative;
    width: 45%;
    height: 85%;
    background-color: #d5c4c4;
}

.img-container{
    background: url(images/loja.jpg) center center no-repeat;
    background-size: cover;

}

.products-container,
.contact-container {
    position: relative;
    width: 100%;
    height: 55vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.products-container {
    background-color: #fff;
}

.guitar-container {
    position: relative;
    width: 20%;
    height: 80%;
    background-color: #fff;
    border-radius: 20px;
}

.guitar-container a{
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.guitar-container span{
    text-align: center;
}

.guitar-price{
    color: red;
}

.contact-container {
    background-color: #fff;
}

footer {
    height: 30vh;
    background-color: black;
    margin-top: 2rem;
}